<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imagio</title>
    <!-- <style>
        body{
            background-color: whitesmoke;
        }
        h1 {
            color: cyan;
        }

        h2 {
            color: cyan;
        }

        label {
            color: cyan;
        }
    </style> -->

</head>

<body>
    <form action="/create" method="post">
        <label for="img_url">Image URL paste pannunga</label><br>
        <input type="text" name="img_url" placeholder="Paste link here"><br>
        <label for="bg_url">BG URL thaanga</label><br>
        <input type="text" name="bg_url" placeholder="Paste link here"><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>